@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #2E2E2E;
  --secondary: #979797;
  --snow-white: #EFEFEF;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-secondary: var(--secondary);
  --color-snow-white: var(--snow-white);
  --font-montserrat: var(--font-montserrat);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-montserrat);
}
